body{
    background: #000;
}
#indexImage,#jumpImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); display: grid;
    justify-content: center;
    align-items: center;
}
#jumpImage{
    border: 2px solid red;
}
#indexImage{
    height: 100%;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    border-radius: 8px;
}
a:link{
    text-decoration: none;
    color: rgb(255, 66, 192);
}

